<!DOCTYPE html>
<html>
  <head>
    <title>User Tags</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'homes' %>
    <%= stylesheet_pack_tag 'homes' %>
  </head>

  <body>
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <% if current_user.present? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete,:data => { confirm: 'Are you sure, you want to Logout?.'} %></li>
        </ul>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
